<div class=" space frame-body-text">
  
    <div class="col-md-4"> {{ left }} </div>
    <div class="col-md-4 " style="max-width:200px; margin-top:-5px">
        <div class="radio radio-primary">
            <label class="padding30">
                 <input type="radio" name="{{ name }}"value="1" ng-model="ngModel.value" ng-disabled="!fullModel.likertEdit">
            </label>
        </div>
        <div class="radio radio-primary">
            <label class="padding30">
                 <input type="radio" name="{{ name }}"value="2" ng-model="ngModel.value" ng-disabled="!fullModel.likertEdit">
            </label>
        </div>
        <div class="radio radio-primary">
            <label class="padding30">
                 <input type="radio" name="{{ name }}"value="3" ng-model="ngModel.value" ng-disabled="!fullModel.likertEdit">
            </label>
        </div>
        <div class="radio radio-primary">
            <label class="padding30">
                 <input type="radio" name="{{ name }}"value="4" ng-model="ngModel.value" ng-disabled="!fullModel.likertEdit">
            </label>
        </div>
        <div class="radio radio-primary">
            <label class="padding30">
                 <input type="radio" name="{{ name }}"value="5" ng-model="ngModel.value" ng-disabled="!fullModel.likertEdit">
            </label>
        </div>
    </div>
    <div class="col-md-4 ">{{ right }} </div>
</div>