<div class="modal fadeIn">
    <div class="modal-dialog">
        <div class="modal-content card light-gray">
            <div class="modal-header space">
                <img src="../images/project/reflection.png" class="nimbli-icon" style="margin-top:-9px"></img>
                 <span class="nimbli-icon-text"><a href=""> Write a reflection </a> </span>
            </div>
            <div class="modal-body">
                <div class="row space"> </div>
                <reflection-poster></reflection-poster>
                <reflection-tabs></reflection-tabs>
            </div>
        </div>
    </div>
</div>
