<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-model="title">
                <h4 class="modal-title alert-info" style="text-align:center; padding:5px;"> {{ modalPurpose }}</h4>
            </div>
            <div class="modal-body">
              <p class="text-muted" style="text-align:center; padding:5px"> {{ modalTitle }}</p>
              <!-- Role -->
             <div class="form-group">
                <label for="role" class="col-lg-2 control-label">Role</label>
                <div class="col-lg-10">
                    <select class="form-control" id="role" 
                            ng-options="role.name for role in projectRoles" 
                            ng-model="selectedRoleItem" 
                            ng-change="roleChanged(this)">
                    </select>
                </div>
            </div>
             <!-- Note -->
            <div class="form-group">
                <label for="note" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea id="description" 
                              ng-model="projectRequest.note" class="form-control" rows="3" id="note"></textarea>
                    <span class="help-block">Tell us with few words, why you want to join this project.</span>
                </div>
            </div>
            
            <div class="modal-footer">
                <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="sendApplication()" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>