<div class="modal fadeIn" tabindex="-1">
    <div class="modal-dialog modal-pos">
        <div ng-show="canApply" class="modal-content">
            <div class="modal-header">
                <div class="anv">
                     <h4 class="anw">{{ modalPurpose }}</h4>
                </div>
            </div>
            <div class="modal-body">
              <p class="text-muted" style="text-align:center; padding:5px"> {{ modalTitle }}</p>
              <!-- Role -->
             <div class="form-group">
               
                <div class="col-lg-10">
                    <li>
                        <ol  class="nya-bs-select btn-md btn-raised" ng-model="projectRequest.role"  
                             style="margin-right: 20px; max-width:220px; margin-top: 11px;">
                            <li nya-bs-option="option in roles">
                                <a>{{ option }}</a>
                            </li>
                        </ol>  
                    </li>
                </div>
            </div>
            
             <!-- Note -->
            <div class="form-group">
               
                <div class="col-lg-10" style="margin-top:3px">
                    <textarea id="description" placeholder="leave a note for the project owner" 
                              ng-model="$parent.projectRequest.note" class="form-control" rows="3" id="note"></textarea>
                    <span class="help-block">Tell us with few words, why you want to join this project.</span>
                   <div ng-show="$parent.showError" class="alert-danger" style="width:60%">
                       You need to <a href="/#/login" ng-click="closeModal()"> login </a> to apply. 
                    </div>
       
                </div>
            </div>
            
            <div class="modal-footer">
                <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-disabled="$parent.saveDisabled"  ng-click="sendApplication()" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
         <div ng-show="!canApply" class="modal-content">
            <div class="modal-header" ng-model="title">
                <h4 class="modal-title alert-primary" style="text-align:center; padding:5px;"> You applied to this project </h4>
            </div>
            <div class="modal-body">
              <p class="text-muted" style="text-align:center; padding:5px"> </p>
              <!-- Role -->
             <div class="form-group">
                <p  class="col-lg-2"> <b>Role: </b> {{ projectRequest.role }} </p>
            </div>
             <!-- Note -->
            <div class="form-group">
                <p  class="col-lg-2"><b>Note: </b> {{ projectRequest.note }} </p>
                <p class="col-lg-2 text-muted"  style="margin-bottom:15px;"> 
                   {{ projectRequest.dateRequested | amDateFormat:'dddd, MMMM Do YYYY HH:mm' }} 
                </p>
            </div>
            
            <div class="modal-footer">
                <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>