<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <form enctype="multipart/form-data" name="createForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Project title</h4>
                                <input type="text"
                                       class="form-control"
                                       ng-model="project.title"
                                       id="title" placeholder="Project title" style="margin-bottom:15px;" required>
                            </div>
                        </div>
                    </div>
                   <!-- Company -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Company</h4>
                                <input type="text"
                                       class="form-control"
                                       ng-model="project.company"
                                       id="company" placeholder="Company" style="margin-bottom:15px;" required>
                            </div>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Project description</h4>
                                <textarea id="description"
                                          ng-model="project.description"
                                          class="form-control"
                                          name="description"
                                          placeholder="Short description about the project"
                                          rows="5" style="margin-bottom:15px;" required>

                                </textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Cover Picture -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                              <h4>Cover picture</h4>
                              <input name="file" accept="image/*" ngf-select="" ng-model="file"  class="btn btn-flat btn-primary" type="file" id="coverPicture">
                             
                              <p class="help-block">Add cover picture.</p>
                            </div>
                       </div>
                    </div>
                    <div class="preview">
                        <div>Preview image</div>
                        <img ngf-src="file" ng-show="file.type.indexOf('image') > -1" ngf-accept="'image/*'">
                     </div>
                    <!-- Buttons -->
                    <div class="container">
                        <div class="row">
                           <div class="col-sm-5 col-md-5">
                            <p>
                                 <button type="submit"  ng-click="create()" ng-disabled="createForm.$invalid"
                                         class="btn btn-md btn-primary" style="margin-right: 10px;">
                                         <span class="glyphicon glyphicon-floppy-disk"></span>
                                     Create
                                 </button>
                                 <a class="btn btn-md btn-default"  ng-click="cancel()" style="margin-left: 10px">
                                   <span class=""></span>
                                   Cancel
                                 </a>
                            </p>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>