
<div class="col-sm-3 panel pull-right">
    <h4> About project </h4>
    <small>{{ project.description }}</small>
    <hr class="divider"></hr>
    <h4> Team members </h4>
        <li  ng-repeat="tm in project.team">
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="row-picture">
                         <a href="/#/users/{{tm._id}}">
                            <img  ng-src="{{ tm.avatar }}" alt="{{ tm.displayName }}">
                         </a>    
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"> {{ tm.displayName }}</h4>
                    </div>
                </div>
            </div>
        </li>
    <hr class="divider"></hr>
    <h4> Company </h4>
    <p>{{ project.company }}</p>
    <li  ng-repeat="owner in project.owners">
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="row-picture">
                          <a  ng-click="userview({ id: owner._id })">
                            <img  ng-src="{{ owner.avatar }}" alt="{{ owner.displayName }}">
                         </a>    
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"> {{ owner.displayName }}</h4>
                        <p> {{ owner.title }}</p>
                    </div>
                </div>
            </div>
        </li>
    <hr class="divider"></hr>
    <h4> School </h4>
    <div> 
    <p>{{ project.school }}</p> 
     <li  ng-repeat="sup in project.supervisors">
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="row-picture">
                        <a href="/#/users/{{sup._id}}">
                           <img  ng-src="{{ sup.avatar }}" alt="{{ sup.displayName }}">
                        </a>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"> {{ sup.displayName }}</h4>
                        <p> {{ sup.title }}</p>
                    </div>
                </div>
            </div>
        </li>
    
    </div>
    <div ng-if="canEdit">
        <button ng-click="edit()" class="btn btn-primary"> Edit</button>
    </div>
</div>
<div class="main">
   <div class="col-md-12">
        <div id="project-header" class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content">
                <div class="card-image" style="height:75%;">
                    <img  ng-src="{{ project.coverPicture }}" alt="Loading image...">
                    <h3 ng-model="project.title" class="card-image-headline">
                        {{ project.title }}
                    </h3>
                </div>
                <div ng-show="userRole !== undefined"> 
                  <div ng-switch="userRole" class="card-body" style="height:5%;">
                    <div ng-switch-when="anonymous">
                       <div ng-include="'partials/project/apply-follow.tpl.html'"></div>
                    </div>
                    <div ng-switch-when="owner">
                       <div ng-include="'partials/project/owner.tpl.html'"></div>
                    </div>
                </div>
                </div>
                <footer class="card-footer"></footer>
            </div>
        </div>
   </div>
</div>