
<div class="col-sm-3 panel pull-right">
    <h5 class="text-muted"> About project </h5>
    <small>{{ project.description }}</small>
    <hr class="divider"></hr>
    <h5 class="text-muted"> Team members </h5>
        <li  ng-repeat="tm in project.team">
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="row-picture">
                        <img  src="http://lorempixel.com/56/56/people/1" alt="{{ tm.displayName }}">
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"> {{ tm.displayName }}</h4>
                    </div>
                </div>
            </div>
        </li>
    <hr class="divider"></hr>
    <h5 class="text-muted"> Company </h5>
    <p>{{ project.company }}</p>
    <hr class="divider"></hr>
    <h5 class="text-muted"> School </h5>
    <div> 
    <p>{{ project.school }}</p> 
     <li  ng-repeat="sup in project.supervisors">
            <div class="list-group">
                <div class="list-group-item ">
                    <div class="row-picture">
                        <img  src="http://lorempixel.com/56/56/people/1" alt="{{ sup.displayName }}">
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"> {{ sup.displayName }}</h4>
                        <p> {{ sup.title }}</p>
                    </div>
                </div>
            </div>
        </li>
    
    </div>
    <div ng-if="canEdit">
        <button ng-click="edit()" class="btn btn-primary"> Edit</button>
    </div>
</div>
<div id="main">
    <div id="project-header" class="card">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-image" style="height:75%;">
                <img  src="{{ project.coverPicture }}" alt="Loading image...">
                <h3 ng-model="project.title" class="card-image-headline">
                    {{ project.title }}
                </h3>
            </div>
            <div ng-switch="userRole" class="card-body" style="height:5%;">
                <div ng-switch-when="anonymous">
                   <div ng-include="'partials/project/apply-follow.tpl.html'"></div>
                </div>
                <div ng-switch-when="owner">
                   <div ng-include="'partials/project/owner.tpl.html'"></div>
                </div>
            </div>
            <footer class="card-footer">
            </footer>
        </div>
    </div>
</div>