<div ng-controller="ProjectDetailCtrl" class="col-md-12 panel project-panel" style="margin-bottom:5px">
   	
    <div ng-include="editMode && 'partials/project/edit-mini.tpl.html' || 'partials/project/view-mini.tpl.html' ">
        
    </div>
    <div class="col-md-2">
        <div class="row">
            <h5 class="label label-primary">{{ project.status[0] }}</h5>
        </div>
        <div class="row" ng-include="isOwner && 'partials/project/templates/tools.tpl.html' || null"></div>
    </div>
</div>
<br>
<hr>
<div ng-controller="ProjectTabsCtrl" class="col-md-12 panel" style="margin-bottom:5px">
    <div class="tab">
        <ul class="nav nav-pills">
            <li ng-repeat="tab in tabs" 
                class="col-xs-3"
                ng-class="{active:isActiveTab(tab.content)}" 
                ng-click="onClickTab(tab)">
              <a>
                {{ tab.heading }}
                <i id="{{ tab.id }}" class="glyphicon glyphicon-check"></i>
              </a>
            </li>
        </ul>
        <div id="tabView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
</div>    

