<div class="container">
    <div class="row well">
    		<div class="col-md-4">
        	    <a href="#" class="follow_btn hidden-xs">Follow</a>
    		</div>
            <div class="col-md-8  col-xs-12">
               <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
               <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
               <div class="header">
                    <h1>{{ project.title }}</h1>
                    <h4>{{ project.company }}</h4>
                    <span>{{ project.description }}</span>
               </div>
            </div>
        </div>   
    
    
    <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#brief" data-toggle="tab">Brief</a></li>
                        <li><a href="#teamSpace" data-toggle="tab">Team Workspace</a></li>
                        <li><a href="#publicFront" data-toggle="tab">Public page</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <!-- Project Brief  -->
                        <div class="tab-pane fade in active" id="brief">
                            
                        </div>
                        <!-- Team Space -->
                        <div class="tab-pane fade" id="teamSpace">
                            Team collaboration area
                        </div>
                        <!-- Public area -->
                        <div class="tab-pane fade" id="tab3default">
                            Public can see this
                        </div>
                    </div>
                </div>
           </div>
    </div>
</div>