<div ng-controller="ProjectHeaderCtrl" ng-include="!editMode && 'partials/project/info-view.tpl.html'
                                        || 'partials/project/info-edit.tpl.html' ">
    
</div>

<div class="main" ng-controller="ProjectWallCtrl">
   
    <div ng-if="formVisible" class="col-md-12">
        <div class="panel panel-default">
            <hr class="divider">
            <div class="panel-body">
                <form style="height:100px" enctype="multipart/form-data" name="postForm">
                    <textarea id="content"
                              ng-model="post.content"
                              class="form-control"
                              name="content"
                              placeholder="Write something..."
                              rows="3" style="margin-bottom:5px;" required>
                    </textarea> 
                </form>
            </div>
            <div class="panel-footer" style="height:60px !important;">
                <ul class="nav nav-pills pull-right"> 
                    <li>
                        <ol style="margin-top: 10px;margin-right: 10px;"  class="nya-bs-select btn-md btn-info" ng-model="post.visibileTo">
                            <li nya-bs-option="option in options">
                                <a>{{ option }}</a>
                            </li>
                        </ol>  
                    </li>
                    <li>
                        <button type="submit" ng-click="createPost()" ng-disabled="postForm.$invalid"
                                 class="btn btn-md btn-primary" style="margin-right: 10px;">POST
                         </button> 
                    </li>    
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    <h3 class="text-muted">Discussions</h3>
    
    <hr class="divider">
    <li ng-repeat="po in posts">
        <div class="col-md-1">
            <div class="row-picture">
                <img class="circle" ng-src="{{ po.postedBy.avatar }}" alt="icon">
            </div>
        </div>
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-body">
                 <div class="row panel-tools">
                    <div class="col-md-3">
                        <p>
                            <a class="panel-heading" href="/#/users/{{ po.postedBy._id}}">{{ po.postedBy.displayName }}</a> 
                            <span am-time-ago="po.dateCreated" style="font-size:11px"></span>
                        </p>
                         
                    </div>
                    <div ng-if="formVisible" class="col-md-5">
                        <p>added an item to Google drive </p>
                    </div>
                    <div ng-if="formVisible" class="col-md-2">
                        <p class="text-muted"> 
                            {{ po.visibility }} <i ng-class="{'glyphicon glyphicon-eye-close label-info': po.visibility == 'public' }"></i>  
                        </p>
                    </div>
                </div>
                    
                   <br>
                    <div class="text">
                       {{ po.content }}
                     </div>
                
                    <div ng-if="formVisible" class="row">
                        <img style="margin:10px" class="circle" src="http://lorempixel.com/24/24/people/3" alt="icon">
                        <textarea  placeholder="write comment" 
                                    class="form-control pull-right" rows="2"
                                    style="border:1px #ddd solid; width:85%; margin-right:10px">
                        </textarea>
                    </div>
                </div>
                <div class="panel-footer">
                
                </div>
            </div>
        </div>
    </li>
</div>

</div>
