<div class="col-md-3">
     <img   src="https://placehold.it/302x250/20b392/ffffff/?text=." 
            alt="Loading image..." style="margin-left:-30px; ">
</div>
<div class="col-md-7">
        <h2 class="project-title">
            <span class="btn btn-primary btn-fab btn-raised mdi-action-grade"></span> 
            {{ project.title }}
        </h2>
        <hr class="divider"></hr>
        <h4 class="text-muted"><span class="mdi-social-location-city"></span> {{ project.company }}</h4>
        <div>{{ project.description }}</div>
    </div>
</div>

<!--


    
-->