<div class="col-md-3">
     <img  style="width:302px; height:250px; margin-left:-30px" src="{{ project.coverPicture}}" 
            alt="Loading image..." style="margin-left : -30px;">
</div>
<div class="col-md-7">
        <h2 class="project-title">
            <span class="btn btn-primary btn-fab btn-raised mdi-action-grade"></span> 
            {{ project.title }}
        </h2>
        <hr class="divider"></hr>
        <h4 class="text-muted"><span class="mdi-social-domain"></span> {{ project.company }}</h4>
        <div>{{ project.description }}</div>
    </div>
</div>

