<div>
    <form>
	<div class="col-md-3">
	    <div class="preview" >
            <img class="pull-left avatar" 
                 ngf-src="file" ng-show="file.type.indexOf('image') > -1" ngf-accept="'image/*'">
        </div>
         <img  ng-hide="file" src="{{ user.avatar }}" class="pull-left avatar"
               alt="{{ user.displayName }}"  />

        <div class="btn btn-flat btn-primary">
            <span>Profile picture</span>
            <input name="file" accept="image/*" ngf-select="" ng-model="$parent.file"  class="fileupload" type="file" id="avatar">
        </div>
	</div>
    <div class="col-md-7">
        <h1></h1>
        <label for="displayName"> Display name</label>
        <input type="text" class="form-control" ng-model="user.displayName" id="displayName" required>
        <br>
        <label for="firstName">First name</label>
        <input type="text" class="form-control" ng-model="user.firstName" id="firstName" required>
        <br>
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" ng-model="user.lastName" id="lastName" required>
        <br>
        <label for="about"> Bio</label>
        <textarea id="about" ng-model="user.about" class="form-control" name="about" rows="5" style="margin-bottom:15px;" required>
        </textarea>
        <label for="location">Location</label>
        <input type="text" class="form-control" ng-model="user.location" id="location" required>
        <label for="title">Title</label>
        <input type="text" class="form-control" ng-model="user.title" id="title" required>
        
        <p>
            <button type="submit"  
                    ng-click="save()" 
                    class="btn btn-md btn-primary"
                    style="margin-right: 10px;">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                   Save
            </button>
            <a      class="btn btn-md btn-default"
                    ng-click="cancel()" 
                    style="margin-left: 10px">
                    Cancel
            </a>
        </p>
    </div>
</form>
</div>

