<div class="row">
    <center>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" 
            name="aboutme" width="140" height="140" border="0" class="img-circle" ng-class="isOwner ? 'pull-image-neg' : 'pull-image-po'"></a>
        <h3> {{ user.displayName }}  <small class="text-muted">{{ user.location }} </small></h3>
        <hr class="divider" style="width:50%">
        <p style="width:65%"> {{ user.about }} </p>
        <p>
         <span ng-repeat="skill in user.skills" class="label label-info">{{ skill.name }}</span>
           |
          <span class="glyphicon glyphicon-education"> {{ user.degree[0] }}</span> 
        </p>
        <br>
        
    </center>
</div>
