<div class="col-sm-6 col-md-4">
    <img  src="{{ user.avatar }}" class="pull-left avatar"  alt="{{ user.displayName }}"  />
</div>
<div class="col-md-8">
    <div class="row">
        <ul class="nav nav-pills">
            <li> <span class="tex-muted"> {{ user.school }}</span></li>
            <li> <span class="tex-muted"> {{ user.school }}</span></li>
        </ul>
    </div>
   <div class="row" style="width:90%">
        <center>
            <h2> {{ user.firstName }} {{ user.lastName }} </h2>
            <p> {{ user.title }} </p>
        </center>
        <div class="about"> {{ user.about }}</div>  
   </div>
  
    <div class="row" ng-include="isOwner && 'partials/project/templates/tools.tpl.html' || null"></div>
</div>

