    .bs-pad{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
    }
    .label,.glyphicon { margin-right:5px; }
     ul
    {
        list-style-type: none;
    }
     li
    {
        list-style-type: none;
    }
    .project-card{
        margin-bottom : 10px;
    }
   
    .card .card-footer a {
       margin: 0 !important;
       position: relative;
       bottom: 25px;
       width: auto;
    }
    .project-panel{
        min-height : 250px;
        margin-bottom:10px;
       /** max-height:300px; */
    }
    .project-title{
        text-align: center;
        text-transform: uppercase;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        color: #fff;
        background-color: #009688;
    }
   .card a:hover, a:focus {
        text-decoration: none;
    }
    
    .grow {
        transition: all .2s ease-in-out; 
        }
    .grow:hover { 
        background-color: #009688;
         color: #fff;
      /*  -ms-transform: scale(1,1);  IE 9 
        -webkit-transform: scale(1,1); /* Safari 
        transform: scale(1.1); */
    }
    .project-btn{
        padding: 5px;
        font-size: 11px;
    }
    .pull-image-neg{
        margin-top :-50px;
    }
    .pull-image-po{
       margin-top: 5px;
    }
    .pull-project-image-neg{
       margin-left: -30px;
    }
    .pull-project-image-po{
       margin-left:-30px; 
    }
    
    .form-horizontal input[type=file] {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    .material_thumbnail {
        border-radius: 0;
        padding: 0;
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.12);
        -webkit-transition: box-shadow 0.3s ease-in 0s;
        transition: box-shadow 0.3s ease-in 0s;
    }
    .material_thumbnail .material_caption {
        padding: 10px 20px;
    }
    .material_thumbnail .material_btn {
        font-size: 16px;
        color: #ffab40;
        text-decoration: none;
        padding: 10px 0;
        border: none;
        -webkit-transition: color 0.4s ease-out 0s;
        transition: color 0.4s ease-out 0s;
    }
    .material_thumbnail .material_btn:hover,
    .material_thumbnail .material_btn:active,
    .material_thumbnail .material_btn:focus {
        background: none;
        box-shadow: none;
    }
    .material_thumbnail:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.42);
    }
   .card { box-shadow: 0 0 5px rgba(0,0,0,0.2); }
   .panel { box-shadow : 0 1px 1px rgba(0,0,0,0.05); border-radius: 0px; }
   body .well { 
       box-shadow : 0 0;
   }
   .chat-body{
      padding: 5px;
    }
    .chat-top {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .chat-form{
        width: 85%;
        float: right;
    }
  #main {
	width: 74.533%;
  }
  #project-header{
      height : 350px;
  }
  
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
.person-add {
    width: 300px;
    height: 400px;
}