
    .bs-pad{
        margin-left: 10px;
        margin-right: 10px;
      
    }
    .label,.glyphicon { margin-right:5px; }
     ul
    {
        list-style-type: none;
    }
     li
    {
        list-style-type: none;
    }
    .project-card{
        margin-bottom : 10px;
    }
   
    .card .card-footer a {
       margin: 0 !important;
      /* position: relative;*/
       bottom: 25px;
       width: auto;
    }
    .project-panel{
        min-height : 250px;
        margin-bottom:10px;
       /** max-height:300px; */
    }
    .project-title{
        text-align: center;
        text-transform: uppercase;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        color: #fff;
        background-color: #009688;
    }
   .card a:hover, a:focus {
        text-decoration: none;
    }
    
    .grow {
        transition: all .2s ease-in-out; 
        }
    .grow:hover { 
        background-color: #009688;
         color: #fff;
      /*  -ms-transform: scale(1,1);  IE 9 
        -webkit-transform: scale(1,1); /* Safari 
        transform: scale(1.1); */
    }
    .project-btn{
        padding: 5px;
        font-size: 11px;
    }
    .pull-image-neg{
        margin-top :-50px;
    }
    .pull-image-po{
       margin-top: 5px;
    }
    .pull-project-image-neg{
       margin-left: -30px;
    }
    .pull-project-image-po{
       margin-left:-30px; 
    }
    
    .form-horizontal input[type=file] {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    .material_thumbnail {
        border-radius: 0;
        padding: 0;
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.12);
        -webkit-transition: box-shadow 0.3s ease-in 0s;
        transition: box-shadow 0.3s ease-in 0s;
    }
    .material_thumbnail .material_caption {
        padding: 10px 20px;
    }
    .material_thumbnail .material_btn {
        font-size: 16px;
        color: #ffab40;
        text-decoration: none;
        padding: 10px 0;
        border: none;
        -webkit-transition: color 0.4s ease-out 0s;
        transition: color 0.4s ease-out 0s;
    }
    .material_thumbnail .material_btn:hover,
    .material_thumbnail .material_btn:active,
    .material_thumbnail .material_btn:focus {
        background: none;
        box-shadow: none;
    }
    .material_thumbnail:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.42);
    }
   .card { box-shadow: 0 0 5px rgba(0,0,0,0.2); }
   .panel { box-shadow : 1 3px 2px rgba(0,0,0,0.05); border-radius: 0px; }
   body .well { 
       box-shadow : 0 0;
   }
   .chat-body{
      padding: 5px;
    }
    .chat-top {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .chat-form{
        width: 85%;
        float: right;
    }
  .main {
	width: 851px;
  }
  #project-header{
      height : 430px;
  }
  
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
.person-add {
    width: 300px;
    height: 400px;
}

.row-content{
    color: #333;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    width:70%;
}


.preview img {
    max-width: 500px;
    max-height: 350px;
}
.fileupload {
  position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.pull-up{
    margin-top : -2%;
}
.text{
    margin: 10px 0;
    font-size: 13px;
    line-height: 17px;
    color: #333;
}
.panel-tools{
    border-bottom: 1px solid #ddd;
}
.avatar{
    width:250px;
    height:220px;
    margin-left:-28px; 
    padding:2px;
}
.about{
    
    font-size:14px;
}
.post-image-form{
    width:70%;
    float:right;
}
.main-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 974px;
}
.free{
    background : none repeat scroll 0 0  transparent;
   
}

.nav-tabs { border-bottom: none; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; color: #333 ;}
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after {
    content: ""; 
    height: 2px; 
    position: absolute; width: 100%; 
    left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%;  }
.tab-pane { padding: 15px 0; }
.tab-content{ padding:20px}
.post-tab { background:  none repeat scroll 0% 0%;  }

ul#postTab  > li > a, ul#postTab li > a:hover, .nav-tabs > li > a:focus {
    background-color: transparent !important;
    border: 0 none !important;
    color: #666 !important;
    font-weight: 500;
    margin-left:-20px;
    margin-right: 21px;
}
.space{
    padding: 5px;
}

.navbar.navbar{
    background-color: #fff;
    color: #009688;
}
.anv {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.anx {
    color: inherit;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 0;
}
.anw {
    background-color: #ffffff;
    color: #555555;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.apply-btn{
    width:274px; 
    height:50px; 
    padding:10px; 
    margin-top:0px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.modal-pos{
  margin-top:13%;
  width:360px;
}
.chat-widget{
    overflow-y: auto; 
    width: auto; 
    height: 300px; 
    padding: 15px;
}
.light-bg{
    background : #ddd;
}

/* Chat windows */

.panel-chat{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel-chat{
    border-radius: 5px 5px 0 0;
}

.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); 
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.easy{
  -webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.fieldgroup{
   float: left;
   width: auto;
   margin-left: 3em;
}

/** Hover edit */
.hover-btn {
  position: absolute;
  right: -1px;
  top : 7px;
  display: none;
  font-size:14px;
  color: #00CECE;
}

.reading {
    padding : 5px;
    font-size:15px;
    min-height : 50px;
}


.editableText:hover .hover-btn {
  display: block;
  cursor:pointer
}

div[contenteditable="false"] {
   background-color : #ddd;
}
.project-cover-holder{
    height:250px;
    margin-bottom :5px;
    margin-top:-19px;
}
.project-cover img {
    height :250px;
    width:1140px;
    max-width:1140px; 
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/overlay.png');
}
.cover-title {
    font-size:30px; margin-left:17px; bottom :30px;
    position: absolute;
    color: #ffffff;
    left:18px;
}
/** placeholder for status and tweet */
.status::-webkit-input-placeholder {
   padding : 13px;
}
.statsus:-moz-placeholder {
     padding : 13px;
}
.status::-moz-placeholder {
     padding : 13px;
}
.status:-ms-input-placeholder {
     padding : 13px;
}
/** caret */
.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ddd;
    margin-left:-1px;
}

/* tiny- avatar */
.tiny-avatar{
    padding: 5px; 
    border-radius: 50%;
    cursor:pointer; 
    width:40px; height:40px;
}
.ref-ta{
   height:130px; 
}
.frame-textarea{
    resize: none; 
    margin-top:10px;
}

.medium-avatar{
    padding: 5px; 
    border-radius: 50%; 
    margin-top:10px; 
    width:60px; height:60px;
}
.light-gray{
    background:#f5f5f5;
}
.post-thumbnails{
    max-width:150px; 
    height:70px; 
    float:left; 
    padding:2px;
    margin-top:10px;
}
.nimbli-icon{
    width :32px;
}
.nimbli-icon-text {
    margin-left : 7px;
}

.fi-icon-size{
    font-size:20px;
}
.tab-bar {
 margin-left:5px;
 margin-right:7px; 
 width:140px;
}

.colored-h{
    color:#00CECE;
}

.nimbliPrime{
   color:#00CECE; 
}
.modal-heading{
    font-size:20px;
}

.modal-card-position{
    margin-top:5%;
    width : 600px ;
}
.capital{
    text-transform:uppercase;
}
.white-text{
    color : white;
}
.pull50 {
  margin-top:54px;
  margin-left:14px;
}
.pull50Side {
  margin-top:54px;
}
.project-icons{
    margin-left: -5px;
    margin-right: 5px;
    cursor:pointer;
}
.with-opacity:hover{
    opacity:0.7;
}

.about-project-heading {
     font-size: 24px;
     font-weight:bold;
     color: #999999;
}

.project-icons-text{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top:-40px;
    text-align:center;
}
.card-content ul{
    margin-top: 10px;
    margin-left: -9px;
    width: 467px;
    opacity:1;
}

.small-text{
    font-size:12px;
    text-align:center;
}
.push25{
    margin-top:25px;
}
.pos-relative{
    position:relative;
}
.card-col{
    width: 150px;
    height: 90px;
    padding: 6px;
    margin-left: 4px;
    background-color: #ddd;
    margin-top: 3px;
}
.frame-h1 {
    font-size:24px;
    font-weight:bold;
    color:#999999;
}
.frame-h2 {
    font-size:21px;
    font-weight:bold;
    color:#333333;
}
.frame-h3 {
    font-size:18px;
    font-weight:bold;
   color:#333333;
}
.frame-body-text{
   font-size:14px;
   font-weight:bold;
   color:#333333;
}
.likert-text{
    margin-left:-10px; top:13px;
}
.frame-divider{
    height:1px;
    margin-top: 20px;
    margin-bottom: 14px;
    border-top: 1px solid #eee;
    clear:both;
}
.card-col:hover{
 background-color:#00CECE;
}
.card-col:hover p{
 color :white;
}

.cardHighlighted{
   background-color:#00CECE; 
}
.cardHighlighted p{
   color :white;
}

.card-icon-img{
  position: absolute; margin: auto;top: -26px;
  left: 0;right: 0;bottom: 0;
}

.card-icon-text{
    font-size:12px;
    text-align:center;
    margin-top:52px;
    color:#666;
}
.process-tabs{
    margin-right:9px;
    cursor:pointer;
}
.process-tabs:hover span{
    color:#7FDDD6;
}
.side-view-btn{
    padding: 8px 30px;
    margin: 10px 1px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    width:98%;
    white-space: nowrap;
    vertical-align: middle;
    
    transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
    background-color: transparent;
}
.side-view-btn a{
   text-decoration: none;
}
.side-view-btn:hover{
  background-color:#00CECE;
  opacity:0.7;
  color:white;
}
.side-view-btn:hover a span{
   text-decoration: none !important;;
}
.tiny-avatar-square{
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.side-push11{
    margin-left:16px;
    margin-bottom:10px;
}
.side-push11:hover a{
  text-decoration:none !important;
}

.side-h{
    font-size:12px;
    font-weight:bold;
    color:#999999;
}
.side-pb{
   font-size:12px;
   font-weight:bold;
   color:#333333;
}

.side-p{
   font-size:13px;
   color:#333333;
}

.side-p14{
   font-size:14px;
   color:#333333;
   font-weight:bold;
   cursor:pointer;
   text-decoration:none !important;
}
.side-p14:hover a {
  text-decoration:none !important;
}

.side-list-item{
    margin-left: -8px;
}

.side-list-item:hover a{
    text-decoration:none !important;
}
.side-list48{
    width:48px; height:48px; margin-left:-5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.list-group10{
   margin-top: -9px;
   margin-bottom: 5px;
}
.card-text-col{
    margin-left:-17px;margin-bottom:14px
}
.padding0{
    padding:0;
}
.padding30{
    padding-left:30px !important;
    line-height: 49px;
}
.margin15{
    margin-right: 5px;
    margin-left: 5px;
}
.editable-text-margin{
    margin-top: -12px;
    margin-left: -4px;
    width:98%;
}
.editable-text-margin:hover {
    cursor:pointer;
    background-color: #00CECE;
    opacity : 0.6;
    min-height:50px;
}
.top5{
    top:5px;
}
.text-area-border{
    border: 1px solid #00CECE;
    margin-bottom:15px;
}
.frame-tool-bar{
    height:34px;
}

.frame-tool-bar ul {
    margin-top:-13px;
}
.btn-shadow{
    border:1px solid #ddd;
}
.leftPull {
    left:-264px;
}

#toast-container>div {
    position: relative;
    top: 146px;
    right: 700px;
}

.toast-info {
    background-color: #00CECE !important;
}
.toast-wait {
    background-color: #00CECE !important;
}
.spinnerStyle{
    float: right;
    margin-top: -132px;
}