
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboard">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/projects">
                <img style="height: 67px; margin-top: -15px;" src="images/cover-min.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="dashboard">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="/#/dashboard"> <span class="glyphicon glyphicon-home"></span>
                      DASHBOARD
                     </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="" href="/#/users/{{ userId }}" > Hello {{ displayName }} !</a> </li>
                <li><a class="btn-primary" href="/#/createproject">CREATE PROJECT</a></li>
                
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="mdi-social-notifications-none"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="label label-warning">7:00 AM</span>Hi :)</a></li>
                        <li><a href="#"><span class="label label-warning">8:00 AM</span>How are you?</a></li>
                        <li><a href="#"><span class="label label-warning">9:00 AM</span>What are you doing?</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="text-center">View All</a></li>
                    </ul>
                </li>
               
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="mdi-social-person"></span>  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li><a href="/#/logout"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                        <li class="divider"></li>
                       
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
