<div class="col-md-12" ng-controller="ProjectPeopleCtrl">
     <li ng-repeat="preq in projectRequests"> 
        <div class="col-md-3">
             <div class="row-picture">
                <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
            </div> 
        </div>
        <div class="col-md-5">
                <h4 class="list-group-item-heading">{{ preq.user.displayName }}</h4>
                <div class="divider"></div>
                <p class="list-group-item-text">{{ preq.note }}</p>
                <p class="label label-default">{{ getRoleName(preq.role) }}</p>
        </div>
        <div ng-if="preq.requestStatus === 0" class="col-md-2">
            <button ng-click="acceptRequest(preq._id)" type="button" class="btn btn-primary" >Accept</button>
            <button ng-click="rejectRequest(preq._id)" type="button" class="btn btn-danger">Reject</button>
        </div>
        <div class="col-md-2">
            <p> {{ getRequestStatus(preq.requestStatus) }} </p>
            <p> {{ preq.responseDate | amDateFormat:'dddd, MMMM Do YYYY' }}</p>
        </div>
    </li>    
</div>
    
    