
<!-- Outcome -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h4>Project Outcome</h4>
            <div id="outcome"
                 ng-model="brief.outcome"
                 class=""
                 name="outcome" style="margin-bottom:15px;">
                
                {{ brief.outcome }}
            </div>  
        </div>
    </div>
</div>
<!-- Objective -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h4>Objective</h4>
            <div id="objective"
                 ng-model="brief.objective"
                 class=""
                 name="objective" style="margin-bottom:15px;">
                
                 {{ brief.objective }}
            </div>
        </div>
    </div>
</div>
<!-- Deliverables -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h4>Project deliverable</h4>
            <div id="deliverable"
                 ng-model="brief.deliverable"
                 class=""
                 name="deliverable" style="margin-bottom:15px;">
                
                 {{ brief.deliverable }}
            </div>
        </div>
    </div>
</div>
<!-- Approach -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h4>Project approach</h4>
            <div id="approach"
                 ng-model="brief.approach"
                 class=""
                 name="approach" style="margin-bottom:15px;">
                
                {{ brief.approach }}
            </div>
        </div>
    </div>
</div>
<!-- Time table -->
<div class="container">
    <div class="row">
    <div class="col-sm-5 col-md-5">
          <h4>Time table</h4>
          <div style="margin-bottom:15px;">
               {{ brief.startDate | amDateFormat:'dddd, MMMM Do YYYY' }} - {{ brief.endDate | amDateFormat:'dddd, MMMM Do YYYY' }}
          </div>
         </div>
    </div>
</div>
<!-- Updated -->
<div class="container">
    <div class="row">
    <div class="col-sm-5 col-md-5">
          <label>Updated </label> 
          <p ng-model="brief.dateUpdated" style="margin-bottom:15px;"> 
                {{ brief.dateUpdated | amDateFormat:'dddd, MMMM Do YYYY HH:mm' }} 
          </p>
         </div>
    </div>
</div>

<!-- Buttons -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <p>
            <button type="submit"  ng-click="edit()" class="btn btn-md btn-info" style="margin-right: 10px;">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            </button>
            <a class="btn btn-md btn-danger"  ng-click="cancel()" style="margin-left: 10px">
                <span class="glyphicon glyphicon-floppy-remove"></span>
                Cancel
            </a>
            </p>
        </div>
    </div>
</div>
