<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Project title</h4>
                                <input type="text"
                                       class="form-control"
                                       ng-model="newProject.title"
                                       id="title" placeholder="Project title" style="margin-bottom:15px;" required>
                            </div>
                        </div>
                    </div>
                   <!-- Company -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Company</h4>
                                <input type="text"
                                       class="form-control"
                                       ng-model="newProject.company"
                                       id="company" placeholder="Company" style="margin-bottom:15px;" required>
                            </div>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <h4>Project description</h4>
                                <textarea id="description"
                                          ng-model="newProject.description"
                                          class="form-control"
                                          name="description"
                                          placeholder="Short description about the project"
                                          rows="5" style="margin-bottom:15px;" required>

                                </textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Cover Picture -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                              <h4>Cover picture</h4>
                              <input  class="btn-file" type="file" id="coverPicture">
                              <p class="help-block">Add cover picture.</p>
                            </div>
                       </div>
                    </div>
                    <!-- Buttons -->
                    <div class="container">
                        <div class="row">
                           <div class="col-sm-5 col-md-5">
                            <p>
                                 <button type="submit"  ng-click="create()"
                                         class="btn btn-md btn-info" style="margin-right: 10px;">
                                         <span class="glyphicon glyphicon-floppy-disk"></span>
                                     Create
                                 </button>
                                 <a class="btn btn-md btn-danger"  ng-click="cancel()" style="margin-left: 10px">
                                   <span class="glyphicon glyphicon-floppy-remove"></span>
                                   Cancel
                                 </a>
                            </p>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>