<div  class="container">
    <div class="col-md-8 col-md-offset-2">

        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input ng-model="project.title" type="text" class="form-control" id="title" placeholder="Project Title" required>
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" ng-model="project.company" id="company" placeholder="Company" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="3"  class="form-control" ng-model="project.description" id="description" placeholder="Short description about the project" required>
                </textarea>
            </div>
            <div class="form-group">
                <label for="coverPicture">Cover picture</label>
                <input type="file" id="coverPicture">
                <p class="help-block">Add cover picture.</p>
            </div>
            <!--- Buttons -->
            <p>
                <button type="submit" ng-click="save()" class="btn btn-md btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Create</button>
                <a class="btn btn-md btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-floppy-remove"></span> Cancel</a>
            </p>
        </form>


    </div>
</div>