<div  class="panel panel-default vcard">
    <div class="panel-body">
        <div class="media">
            <a  class="thumbnail pull-left">
                <img ng-model="user.avatar" contenteditable="true" ng-click="openModal()" class="media-object" ng-src="{{ user.avatar }}">

            </a>

            <div class="media-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 ng-model="user.displayName"
                            contenteditable="{{ editMode }}">
                            {{ user.displayName }}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="abt" ng-model="user.about"
                             ng-class="user.about.length > 140 ? 'error' : 'ok'"
                             contenteditable="{{ editMode }}"
                             title="This is your personal pitch." data-ph="Tell the world what you are made of!">
                            {{ user.about || 'Tell the world what you are made of!' | limitTo : 140 }}
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-muted pads"> My Skills </p>

                <div class="row">

                    <div ng-if="editMode" class="col-xs-6">
                        <input id="skillInput" class="form-control" ng-model="newSkill.name" placeholder="Add skill" type="text" required>
                    </div>
                    <div ng-if="editMode" class="col-xs-6">
                        <a  class="btn btn-md btn-default" ng-click="addSkill()"><span class="glyphicon glyphicon-ok"></span> Add</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-inline">
                            <br>
                            <li ng-repeat="skill in user.skills"
                                editable-text="skill"
                                onaftersave="updateProfile()"
                                e-form="skillBtn"  class="label label-info tags pads">

                                {{ skill.name || "empty" }}
                                <a>
                                    <i ng-show="editMode"
                                       ng-click="removeSkill($index)"
                                       class="pads glyphicon glyphicon-remove pull-right">
                                    </i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="text-muted glyphicon glyphicon-map-marker"> </span>
                        <p id="locationSpan" ng-class="editMode ? ' locationSpanEdit text-muted' : 'locationSpan text-muted'"  ng-model="user.location" contenteditable="{{ editMode }}">
                            {{ user.location || "Helsinki" }}
                        </p>
                    </div>
                  </div>

                <!-- <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p> -->
                <p>
                    <a ng-hide="editMode" class="btn btn-md btn-default" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a ng-show="editMode" class="btn btn-md btn-success" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                    <a ng-show="editMode" class="btn btn-md btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-floppy-remove"></span> Cancel</a>

                </p>
            </div>
        </div>
    </div>
</div>